#b1 {
    width: 70px;
    height: 75px;
    position: absolute;
    top: 565px;
    left: 760px;
}
#b2 {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 565px;
    left: 835px;
}
#b3 {
    width: 70px;
    height: 75px;
    position: absolute;
    top: 565px;
    left: 920px;
}
#b4{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 565px;
    left: 1000px;
}
#b5 {
    width: 70px;
    height: 75px;
    position: absolute;
    top: 565px;
    left: 1080px;
}
